<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Short Daily Devotions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D8A34531D70C21700BB6FA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D8A346A1D70C21700BB6FA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D8A34751D70C21700BB6FA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
